!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">BugTracker</a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <!-- Visible only to ADMIN -->
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a class="nav-link" href="/dashboard">Admin Dashboard</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a class="nav-link" href="/developers">Manage Developers</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                        <a class="nav-link" href="/bugs">Manage Bugs</a>
                    </li>

                    <!-- Visible only to USER -->
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''USER'')')}">
                        <a class="nav-link" href="/dashboard">User Dashboard</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('hasRole(''USER'')')}">
                        <a class="nav-link" href="/my-tickets">My Tickets</a>
                    </li>

                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-light" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
